footer {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    bottom: 0px;
    
    background: linear-gradient(90deg, #274276 16%, #1B263B 84%);
  }

  footer p{
    color: #c2d1ec;
    padding-left: 1300px;
    padding-top: 10px;
    font-size: 10px;
  }