footer {
  width: 100%;
  height: 80px;
  background: #abbed7;
  margin-top: auto; /* Empuja el footer hasta el final del contenedor flex */
}

footer p {
  color: #223A59;
  text-align: center;
  padding-top: 30px;
  font-size: 12px;
}


html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* viewport height */
}

main, .content-wrapper {
  flex: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
}