.app-container {
    background-color:#abbed7; // Cambia este color según tus necesidades
    min-height: 100vh; // Asegura que el fondo cubra toda la pantalla
    display: flex;
    flex-direction: column;
  }