header {
    position: absolute;
    width: 100%;
    height: 103px;
    left: 0px;
    top: 0px;
      position: relative; /* Asegura que el header esté en el flujo del diseño */
      z-index: 10; /* Asegura que el header esté encima de otros elementos */
    
    background: linear-gradient(90deg, #274276 16%, #1B263B 84%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }

 .Divlogo img{
    max-width: 60px;
    width: 50%;
    height: 60px;
    margin-top: 20px;
    padding-left: 70px;
 }



