.kit-dialog-container {
    border-radius: 8px;
    overflow: hidden;
}
  
.dialog-title {
    background-color: #223A59; /* Azul oscuro */
    color: #bed0e7;
    padding: 16px 24px;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}
  
.dialog-content {
    padding: 24px;
    background-color: #bed0e7; /* Azul muy claro para el fondo */
}
  
.dialog-actions {
    padding: 8px 24px 16px;
    margin-bottom: 0;
    background-color: #bed0e7;
    border-top: 1px solid #bed0e7; /* Borde sutil azul claro */
}
  
.cancel-button {
    color: #4b5563; /* Gris oscuro */
}
  
.submit-button {
    background-color: #223A59; /* Azul primario */
    &:hover {
        background-color: #223A59; /* Un poco más oscuro al pasar el mouse */
    }
    &[disabled] {
        background-color: #c6d0dc; /* Azul más claro cuando está deshabilitado */
    }
}
  
/* Personalizar el input */
::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: white;
        border-radius: 4px;
        border: 1px solid #bfdbfe; /* Borde azul claro */
    }
  
    .mat-form-field-appearance-fill.mat-focused .mat-form-field-flex {
        border-color: #bed0e7; /* Azul cuando está enfocado */
    }
  
    .mat-form-field-label {
        color: #b6d2ff !important; /* Azul para la etiqueta */
    }
  
    .mat-form-field-underline {
        background-color: transparent !important;
    }
  
    .mat-hint {
        color: #6b7280; /* Gris para el texto de ayuda */
    }
}
